.no-right-boder {
    border-right-color: white !important;
}

.while-container {
    background-color: rgb(246, 246, 246);
}

/* .border {
    border: 0.1px solid rgb(39, 39, 39) !important;
} */

.category-name {
    font-weight: 600;
}

.list_not_empty {
    color: rgb(255, 255, 255);
    background-color: #cc0000;
}