{% load static %}

<footer class="footer footerBackground">
  <div class="container-fluid">
        <div class="row ">
          <div class="col about">
            <b><p class="rrjetet">Rrjetet Sociale</p></b>
            <div class="socialmedia">
              <div class="row">
                <div class="col mobile">
                  <a href="https://www.facebook.com/automjet.al/"><img src="{% static 'general/img/img4.png' %}"class="images"> </a>
                </div>
                <div class="col mobile">
                  <a href="https://www.instagram.com/automjet/"><img src="{% static 'general/img/img5.jpg' %}"class="images"> </a>
                </div>
                <div class="col mobile">
                   <a href="#!"><img src="{% static 'general/img/img6.png' %}"class="images"> </a> 
                </div>
                <div class="col mobile center-text">
                  <p class="about">© 2020 Automjet.al All rights reserved. </p>
                  <p>Developed by <b><a href="https://vesasolutions.com/" >Vesa Solutions.</a></p></b>
                </div>
              </div>
            </div>
          </div>
        </div>
</footer>
