{% load static %}

<footer class="footer footerBackground">
    <div class="row rreth">
        <div class="col about">
          <b><p>Rreth Nesh</p></b>
        </div>
        <div class="col about social">
          <b><p>Rrjetet Sociale</p></b>
        </div>
    </div>
    <div class="row ">
      <!-- <div class="col-8 about border-bottom">
       
      </div> -->
    </div>

    <div class="row insta ">
        <div class="col-md-auto">
          <a href="about/rreth_nesh" class="about"><p>Rreth Automjet.al</p></a> 
        </div> 
        <div class="col-md-auto">
          <a href="about/contact_us" class="about"><p>Kontakt</p></a> 
        </div>
        <div class="col-md-auto">
          <a href="#!" class="about"><p>Car Dealer Locator</p></a> 
        </div>
        <div class="col-md-auto">
          <a href="#!" class="about"><p>Privacy Policy</p></a> 
        </div>
        <div class="col ">
        <p class="about">© 2020 Automjet.al All rights reserved. Developed by <b><a href="https://vesasolutions.com/" >Vesa Solutions.</a></p></b>
        </div>
        <div class="row">
          <div class="col face ">
            <a href="https://www.facebook.com/automjet.al/"><img src="{% static 'general/img/img4.png' %}"class="image"> </a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/automjet/"><img src="{% static 'general/img/img5.jpg' %}"class="image"> </a>
          </div>
          <div class="col">
            <a href="#!"><img src="{% static 'general/img/img6.png' %}"class="image"> </a>
          </div>
        </div>

    </div>
    


<!-- </footer>
<footer class="footer footerBackground">
  <div class="container-fluid ">
    <div class="row rreth">
      <div class="container "> 
        <div class="row mt-4">
          <div class="col about">
          <b><p>Rreth Nesh</p></b>
          <p>━━━━━━━━━━━━━━━━━</p>
            <div class="about">
              <div class="row"> 
                <div class="col-md-auto ">
                    <a href="about/rreth_nesh" class="about"><p>Rreth Automjet.al</p></a> 
                  </div> 
                  <div class="col-md-auto">
                    <a href="about/contact_us" class="about"><p>Kontakt</p></a> 
                  </div>
                  <div class="col-md-auto">
                    <a href="#!" class="about"><p>Car Dealer Locator</p></a> 
                  </div>
                  <div class="col-md-auto">
                      <a href="#!" class="about"><p>Privacy Policy</p></a> 
                  </div>
                  <div class="col ">
                    <p>© 2020 Automjet.al All rights reserved. Developed by <a href="#" >Vesa Solutions.</a></p>
                  </div>      
                 </div>   
               </div>   
             </div>
            <div class="row">
              <div class="col about ">
                <b><p>Rrjetet Sociale</p></b>
                  <p>━━━━━━━━━━━━━━━━━</p>
                  <div class="about mb-2">
                    <a href="#!"><img src="{% static 'general/img/img4.png' %}"class="image"> </a>
                    <a href="#!"><img src="{% static 'general/img/img5.jpg' %}"class="image"> </a>
                    <a href="#!"><img src="{% static 'general/img/img6.png' %}"class="image"> </a>

                </div>
             </div>   
           </div>
         </div>
       </div>
    </div>
    
  </div>
 
  
</footer> -->