<!-- only on mobile -->
<div class="container mb-4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"> Te rejat e fundit & Risi </h2>
      </div>
    </div>
    <hr class="hr" style="border: 3px solid red;  margin-right: 40%; margin-left: 40%;">
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><a href="#">Hyperion XP-1: 2.2 sekonda për të arritur shpejtësinë 100 km/orë </a></h4>
            <a href="#">
              {% load static %}
              <img class="img-responsive img-fluid" src="{% static '\main_app\img\categories\hyperion.jpg' %}" alt="img1">
            </a>
            <a href="#" class="card-link"> Lexo më shumë » </a>
          </div>
        </div> 
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><a href="#">Mercedesit S-Class 2021, hidhini një sy pjesës së brendshme të makinës </a></h4>
            <a href="#">
              {% load static %}
              <img class="img-responsive img-fluid" src="{% static '\main_app\img\categories\mercb.jpg' %}" alt="img1">
            </a>
            <a href="#" class="card-link"> Lexo më shumë » </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" ><a href="#">Studimi: Nëse mbani dritaren e makinës hapur jeni të të ekspozuar 80 për qind më shumë ndaj ndotjes së ajrit </a></h4>
            <p class="card-text">Sipas Organizatës Botërore të Shëndetit, rreth ...</p>
            <a href="#" class="card-link">Lexo më shumë »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="row viewAll">
        <div class="col-md-12">
          <a href="#" class="viewAllLink btn btn-ghost">
            <i class="fa fa-angle-right"></i>
            Lexo më shumë »
          </a>
        </div>
      </div>
    </div>
  </div>