{% load widget_tweaks %}
{% load static %}
<!-- {% block links %}
<link
  rel="stylesheet"
  href="{% static 'main_app\style\basic_search\basic_search.css' %}"
  type="text/css"
/>
{% endblock %} -->

<!-- <div class="container">
    <div class="col-md-12">
        <h2 class="text-center"> Partneret </h2>
      </div>
    </div>
    <hr class="" style="border: 3px solid red;  margin-right: 45%; margin-left: 45%;">
    <div class="row mb-4">
        <div class="col-md-12">
            <img class="img2" src="{% static 'main_app\img\vesasolutions.png' %}" alt="My image" >
        </div>
    </div>
</div> -->