<!-- {% load static %}
{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  href="{% static '\main_app\style\vehicle_type\most_popular_mobile.css' %}"
  type="text/css"
/>
{% endblock %}
<hr class="hr">
<div class="row mb-2 mt-4">
    <div class="col-6 bottom-frm d-flex justify-content-center">
        <a href="#">
            <span class="text-bottom"> Nacionale </span>
        </a>
    </div>
    <div class="col-6 bottom-frm d-flex justify-content-center">
        <a href="#">
            <span class="text-bottom2"> Kerkim Lokal </span>
        </a>
    </div>
</div> -->