{% load static %}
<div class="row mb-1 pb-2 pt-3">
    <div class="col-sm-12 d-flex justify-content-center">
    <span> Deshiron te shesesh {{ type }} tend? </span>
    </div>
</div>
<div class="row mb-1 pb-2 pt-3">
    <div class="col-sm-12">
        <img class="img-responsive img-fluid" src="{% static 'main_app/img/CtaSell_bike.png' %}" alt="img1">
    </div>
</div>
<div class="row mb-4 ">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-danger rounded w-50" id="posto" type="button"><a href="../shitje" class="text-light"> Postoje Falas </a></button>
    </div>
</div>
</div>