{% load static %}
<link
  rel="stylesheet"
  href="{% static 'general/bootstrap/bootstrap.min.css' %}"
  type="text/css"
/>
<script src="{% static 'general\js\jquery.min.js' %}"></script>
<script src="{% static 'general\bootstrap\bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<link
  rel="stylesheet"
  href="{% static 'general/style/general.css' %}"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{% static 'general/style/footer.css' %}"
  type="text/css"
/>
<link rel="stylesheet" href="{% static 'general/style/header.css' %}" />
<script src="{% static 'general/js/windows-size.js' %}"></script>
