/* 
.bottom-frm {
    background-color: #ffffff;
    border: 0.1rem solid grey;
    color: white;
    font-size: 1.2rem;
}

.text-bottom {
    color: black;

}

.text-bottom2 {
    color: black;
} */
