
.generic-background {
    background-color: #2e2d2d;
    color: white;
    font-size: 1.5rem;
}

.generic-background2 {
    background-color: #666;
    color: white;
    font-size: 1.5rem;
}

.text1 {
    color: white;
    margin-left: 10%;
}

hr {
    border: 3px solid red;  
    margin-right: 40%; 
    margin-left: 40%;
}

#kerko {
    margin-left: 55%;
}

.img1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: max-content;
    margin-top: 2%;
    width: 100%;
}

.imgmargin {
    margin-top: 22%;
}

.border1 {
    display: inline-block;
    width: 40rem;
    height: 10rem;
}

.bottom-frm {
    background-color: #ffffff;
    border: 0.1rem solid grey;
    color: white;
    font-size: 1.5rem;
}

.text-bottom {
    color: black;

}

.text-bottom2 {
    color: black;
    margin: 35%;
}

.txt-btm {
    font-weight: bold;
}
