{% load static %}
<!-- only on desktop -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"> Kerko sipas modelit </h2>
      </div>
    </div>
    <hr class="" style="border: 3px solid red;  margin-right: 40%; margin-left: 40%;">
    <!-- Will loop here -->
    <div class="row mb-4">
    {% for body in bodies %}
      <div class="col-md-3 center-text">
        <a href="{% url 'main_app:category' %}?category={{body.name}}">
          <img class="img-responsive img-fluid" src="{% static '\main_app\img\categories\convertible.png' %}" alt="img1">
          <span class="heavy-link">{{ body.name }} </span>
        </a>
      </div>
    {% endfor %}
    <div class="col-md-3 mt-4 center-text">
      <a href="{% url 'main_app:category' %}">
        <img class="img-responsive img-fluid icon-size" src="{% static '\general\img\next.png' %}" alt="img1">
        <p class="heavy-link mt-4">Shiko te gjita</p>
      </a>
    </div>
    </div>
  </div>